<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Varela Round"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="{% static "style/notTwitter_style.css" %}">
    <title>notTwitter</title>
  </head>
  <body>
    <header>{% include "notTwitter/navbar.html" %}</header>
    <main>{%block content %}{% endblock content %}</main>
    <script>
      function toggleMenu() {
        var navLinks = document.querySelector(".nav-links");
        navLinks.classList.toggle("active");
      }
    </script>
  </body>
</html>
