<div class="container">
  <div class="logo"><a href="/">!Twitter</a></div>
  <div class="burger" onclick="toggleMenu()">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
  <nav>
    <ul class="nav-links">
      <li><a href="{% url "notTwitter:index" %}">Home</a></li>
      <li><a href="{% url "messaging:messages" %}">Messages</a></li>
      {% if user.is_authenticated %}
      <li><a href="{% url "users:logout" %}">Log out</a></li>
      {% else %}
      <li><a href="{% url "users:login" %}">Log in</a></li>
      {% endif %}
    </ul>
  </nav>
</div>
