<link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">

<body class="login-body" style="padding: 20px;">
    <h1>Log in</h1>
    <form action="" method="post">
        {% csrf_token %}
        <div class="login-container">
            <input type="text" placeholder="Username" name="username">
            <input type="password" placeholder="Password" name="password">
            <div>If you don't have an account <a href="{% url "users:register_user" %}">Sign Up</a></div>
            {% if messages %}
                {% for message in messages %}
                <div class="error-message-div">{{ message }}</div>
                {% endfor %}
            {% endif %}
            <button type="submit">Log in</button>
        </div>
    </form>
</body>
