{% include "messaging/base.html" %} {% block content %}

<div class="chat-box">
  {% for message in messages %}
  <div
  class="{% if message.sender_name == current_user.username %}from-me{% else %}message{% endif %}"
  >
    {{message.sender_name}}: {{message}}
  </div>
  {% endfor %}
  {% if messages.count > 65 %}
  <a href="?all=true" class="load-all-messages">load all messages</a>
  {% endif %}
</div>

<div class="input-box">
  {% include "messaging/message_form.html" %}
</div>

{% endblock content %}
